<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="time" />
      <h2 v-if="time <= 17">아직 준비할 항목:</h2>
      <ul v-if="time <= 17">
        <li v-for="list in items" :key="list.no">{{list.ready}}</li>
      </ul>
      <h3 v-else>
        마감 임박! 아래 항목 중 마지막으로 남은 준비: {{(items.ready).splice(3,
        1)}}
      </h3>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            time: 0,
            items: [
              { no: 1, ready: '편지 작성' },
              { no: 2, ready: '편지 검토' },
              { no: 3, ready: '봉투 밀봉' },
              { no: 4, ready: '스탬프 찍기' },
            ],
          };
        },
      }).mount('#app'); //항상 등장하는 코드
    </script>
  </body>
</html>
