<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <label> 사랑지수: <input type="number" v-model="love" /> </label><br />
      당신의 등급:
      <span v-if="love >= 1000">💖 Love Master'</span>
      <span v-else-if="love >= 500">💖 Love Expert</span>
      <span v-else-if="love >= 200">💖Love Learner</span>
      <span v-else="love">💖 Newbie</span>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            love: 0,
          };
        },
      }).mount('#app'); //항상 등장하는 코드
    </script>
  </body>
</html>
