<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>취미생활</h2>
      <!-- label로 묶어주는 이유는 글자를 선택했을 때 체크박스까지 연동되도록 -->
      <label>
        <input type="checkbox" value="A" v-model="hobby" />
        운동
      </label>
      <label>
        <input type="checkbox" value="B" v-model="hobby" />
        독서
      </label>
      <label>
        <input type="checkbox" value="C" v-model="hobby" />
        음악
      </label>
      <label>
        <input type="checkbox" value="D" v-model="hobby" />
        댄스
      </label>
      <label>
        <input type="checkbox" value="E" v-model="hobby" />
        역사
      </label>
      <div>
        <h2>상품 분류 선택</h2>
        <select v-model="category">
          <option value="">----상품 분류를 선택하세요.</option>
          <option value="c01">레저</option>
          <option value="c01">가전</option>
          <option value="c01">음식</option>
          <option value="c01">도서</option>
          <option value="c01">주방</option>
        </select>
      </div>
      <hr />
      <div>
        선택한 취미: {{hobby.join(',')}} <br />
        선택한 상품 분류: {{category}}
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            // 다중 선택이 가능한 경우 배열로 처리
            hobby: [],
            category: '',
          };
        },
      }).mount('#app'); //항상 등장하는 코드
    </script>
  </body>
</html>
